* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #ffff;
  font-family: 'Lato', sans-serif;
}

:root{
  --mainColor:#f57224;
  --whiteColor:#fff;
  --blackColor:#000;
  --lightDark:#222;
}



/* Navbar styles */

nav {
  width: 100%;
  background:var(--whiteColor);
  height: 70px;
  line-height: 70px;
  position: fixed;
  top:0;
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  padding: 0 103px;
  display: flex;
  z-index: 9999;
}

nav ul {
  width: 50%;
  list-style:none;
}

nav .left {
  text-align: left;
}

.left a{
  font-weight: 700;
  color:orangered;
  font-size: 22px;
}

nav .right {
  text-align: right;
}


nav ul li a {
  /* display: block; */
  text-decoration: none;
}

.shCart i{
  display: inline-block;
  font-size:20px;
  color:var(--lightDark);
  margin-right: 15px;

}


.cartCount{
  display: inline-block;
  width: 35px;
  height: 35px;
  background:var(--mainColor);
  color:var(--whiteColor);
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
}



/* Banner styles */

.container{
  width:100%;
  padding:0 100px;
}

header{
  width:100%;
  background: url("./assets/background.jpg");
  margin-top:70px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}